<!-- views/home.handlebars -->



<h2>Welcome to the Tech Blog!</h2>

{{#if blogPosts.length}}
  {{#each blogPosts as |currentPost|}}
    <div class="blog-post">
      <h3>{{currentPost.dataValues.title}}</h3>
      {{!-- <p>{{formatDate createdAt}}</p> --}}
      <p>{{currentPost.dataValues.content}}</p>
      <p>By {{currentPost.dataValues.author.dataValues.username}}</p>
      <a href="/post/{{currentPost.dataValues.id}}">Read more</a>
    </div>
  {{/each}}
{{else}}
  <p>No blog posts available.</p>
{{/if}}
